:root { 
    --white-main: hsl(0, 0%, 100%);
    --gray-body-text: hsl(220, 15%, 55%);
    --grayish-background: hsl(212, 45%, 89%);
    --blue-hero-text: hsl(218, 44%, 22%);
}

body {
    text-align: center;
    background-color: var(--grayish-background);
    margin: 0;
    padding: 0;
    font-family: outfit, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}

.all-container {
    background-color: var(--white-main);
    border-radius: 15px;
    box-shadow: 1px 1px 25px #cfcfcf;
    padding: 1em;
    max-width: 20rem;
}

img {
    border-radius: 10px;
    max-width: 100%;
    display: block;
}

#hero-text {
    color: var(--blue-hero-text);
    font-weight: 700;
    font-size: 1.6rem;
    margin: 1.3rem 0

}
#body-text {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray-body-text);
    margin-bottom: 2rem;
}
